@model DivyangPortalWeb.Areas.Employee.Models.AddCompany
@{
    ViewBag.Title = "addnewcompany";
    Layout = "~/Areas/Employee/Views/Shared/_LayoutEmployee.cshtml";

    <link href="~/Areas/Employee/Content/css/monthpicker.css" rel="stylesheet" />

    <script src="~/Areas/Employee/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Areas/Employee/Scripts/ckeditor/samples/js/sample.js"></script>
    <script src="~/Areas/Employee/Scripts/js/jquery.validate.min.js"></script>
    <script src="~/Areas/Employee/Scripts/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Areas/Employee/Scripts/js/monthpicker.min.js"></script>
    <script src="~/Areas/Employee/Scripts/js/jquery-ui.min.js"></script>
    <script src="~/Areas/Employee/Scripts/js/AddCompany.js"></script>
}

<div class="wrapper">

    <div class="spacing">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    @if (TempData["AddCompanyPopUp"] != null)
                    {
                        if (@TempData["AddCompanyPopUp"].ToString() == "Error try again later")
                        {
                            <div class="alert alert-danger" role="alert">
                                @TempData["AddCompanyPopUp"]
                            </div>
                        }
                        else if (@TempData["AddCompanyPopUp"].ToString() == "fill mandatory fields")
                        {
                            <div class="alert alert-danger" role="alert">
                                @TempData["AddCompanyPopUp"]
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-success" role="alert">
                                @TempData["AddCompanyPopUp"]
                            </div>
                        }

                    }
                    @using (Html.BeginForm("AddCompany", "Companies", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(C => C.CompanyAboutUs)
                        @Html.HiddenFor(C => C.PhoneCountryCode)
                        @Html.HiddenFor(C => C.EmployerId)
                       if (@Model.EmployerId > 0) // Check if EmployerId is valid (greater than 0)
{
    <div class="d-flex-div">
        <div><h1>Update company</h1></div>
        <div class="button-warpper">
            @Html.ActionLink("Cancel", "Companies", "Companies", new { Area = "Employee" }, null)
            <button type="submit" class="btn-submit-company civi-button" name="submit_company"  value="Update">
                <span>Update</span>
            </button>
        </div>
    </div>
}
else
{
    <div class="d-flex-div">
        <div><h1>Submit company</h1></div>
        <div class="button-warpper">
            @Html.ActionLink("Cancel", "Companies", "Companies", new { Area = "Employee" }, null)
            <button type="submit" class="btn-submit-company civi-button" name="submit_company" value="Submit">
                <span>Publish</span>
            </button>
        </div>
    </div>
}

                        <div class="block-from">
                            <h2>Basic info</h2>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>@Html.LabelFor(C => C.CompanyName)</h4>
                                        @Html.EditorFor(C => C.CompanyName, new { htmlAttributes = new { autocomplete = "off", placeholder = "Enter company name", maxlength = "100" } })
                                        @Html.ValidationMessageFor(C => C.CompanyName)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>@Html.LabelFor(C => C.CompanyCategories)</h4>
                                        @Html.DropDownListFor(C => C.CompanyCategories, Model.CompanyCategoriesOptions, "Select a categories", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(C => C.CompanyCategories)
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="login-form">
                                        @Html.HiddenFor(model => model.CompanyAboutUs, new { @id = "hfCompanyAboutUs" })
                                        <h4>@Html.LabelFor(C => C.CompanyAboutUs)</h4>
                                        @Html.EditorFor(C => C.CompanyAboutUs, new { htmlAttributes = new { autocomplete = "off", id = "Aboutckeditor", @class = "form-control" } })
                                        @Html.ValidationMessageFor(C => C.CompanyAboutUs)
                                        @*<div id="editor"></div>*@
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>@Html.LabelFor(C => C.CompanyWebsite)</h4>
                                        @Html.EditorFor(C => C.CompanyWebsite, new { htmlAttributes = new { autocomplete = "off", placeholder = "http(s)://www.domain.in" } })
                                        @Html.ValidationMessageFor(C => C.CompanyWebsite)
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>@Html.LabelFor(C => C.PhoneNumber)</h4>
                                        <div class="input-group-sm">
                                            @Html.TextBoxFor(C => C.PhoneNumber, new { @class = "form-control", id = "mobile", placeholder = "Phone number", maxlength = "10", oninput = "this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\\..*)\\./g, '$1');" })
                                            @Html.ValidationMessageFor(C => C.PhoneNumber)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>@Html.LabelFor(C => C.CompanyEmail)</h4>
                                        @Html.EditorFor(C => C.CompanyEmail, new { htmlAttributes = new { autocomplete = "off", placeholder = "dome@gmail.com" } })
                                        @Html.ValidationMessageFor(C => C.CompanyEmail)
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>@Html.LabelFor(C => C.FoundedIn)</h4>
                                        @Html.EditorFor(C => C.FoundedIn)
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>@Html.LabelFor(C => C.CompanySize)</h4>
                                        @Html.DropDownListFor(C => C.CompanySize, Model.CompanySizeDropDown, "Select a size", new { @class = "" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="block-from">
                            <h2>Media</h2>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="login-form">
                                        <h4>Image</h4>

                                        <div class="uploadimgs">
                                            @*<input type="file" id="images" class="form-control">*@
                                            @Html.TextBoxFor(C => C.CompanyLogo, new { type = "file", @class = "form-control", id = "images", accept = "image/png, image/jpeg" })
                                            <div class="uploadimg">
                                                <div class="uploadimg-middle">
                                                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                                    <p>Upload</p>
                                                </div>
                                            </div>
                                            @{ var CompanyLogo = Model.CompanyLogoName;}
                                            <div class="form-group uploadimg">
                                                <div id="image_preview" style="width:100%;">
                                                    @if (!string.IsNullOrEmpty(CompanyLogo))
                                                    {
                                                        <div class="img-div" id="img-div0">
                                                            <img src="@Url.Content("~/Areas/Employee/Images/CompanyImage/"+CompanyLogo)" class="image" title="Company Logo">
                                                            <div class="middle">
                                                                <button id="action-icon" value="img-div0" class="btn btn-danger" role="@CompanyLogo">
                                                                    <i class="fa fa-trash"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                        <div class="field-note">Maximum file size: 800kb.</div>

                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="login-form">
                                        <h4>Cover image</h4>

                                        <div class="uploadimgs">
                                            @Html.TextBoxFor(C => C.CompanyCoverImages, new { type = "file", @class = "form-control", id = "images2", accept = "image/png, image/jpeg" })
                                            <div class="uploadimg">
                                                <div class="uploadimg-middle">
                                                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                                    <p>Click here <span>or drop files to upload</span></p>
                                                </div>
                                            </div>
                                            @{ var CompanyCoverLogo = Model.CompanyCoverImagesName;}
                                            <div class="form-group uploadimg">
                                                <div id="image_preview2" style="width:100%;">
                                                    @if (!string.IsNullOrEmpty(CompanyLogo))
                                                    {
                                                        <div class="img-div2" id='img-div20'>
                                                            <img src="@Url.Content("~/Areas/Employee/Images/CompanyImage/"+CompanyCoverLogo)" class='image2' title='Company Cover Image'><div class='middle2'><button id='action-icon2' value='img-div20' class='btn btn-danger' role="@CompanyCoverLogo"><i class='fa fa-trash'></i></button></div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                        <div class="field-note">The cover image size should be max 1920 x 400px</div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-from">
                            <h2>Social network</h2>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>Twitter</h4>
                                        @Html.EditorFor(C => C.TwitterUrl, new { htmlAttributes = new { autocomplete = "off", placeholder = "twitter.com/company" } })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>Linkedins</h4>
                                        @Html.EditorFor(C => C.LinkdinUrl, new { htmlAttributes = new { autocomplete = "off", placeholder = "linkedin.com/company" } })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>Facebook</h4>
                                        @Html.EditorFor(C => C.FaceBookUrl, new { htmlAttributes = new { autocomplete = "off", placeholder = "facebook.com/company" } })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>Instagram</h4>
                                        @Html.EditorFor(C => C.InstagramUrl, new { htmlAttributes = new { autocomplete = "off", placeholder = "instagram.com/company" } })
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="block-from">
                            <h2>Location</h2>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="login-form formlocation">
                                        <h4>State</h4>
                                        @Html.DropDownListFor(C => C.State, Model.StateDropDown, "Select a state", new { @class = "", id = "stateDropdown" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>District</h4>
                                        @Html.DropDownListFor(C => C.District, Model.DistrictDropDown, new { @class = "", id = "DistricDropdown" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>Full Address</h4>
                                        @Html.EditorFor(C => C.CompanyFullAddress, new { htmlAttributes = new { autocomplete = "off", placeholder = "Enter full address" } })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="block-from">
                            <h2>Gallery</h2>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="login-form">
                                        <h4>Image</h4>

                                        <div class="uploadimgs">
                                            @Html.TextBoxFor(C => C.GalleryImage, new { type = "file", @class = "form-control", id = "images3", accept = "image/png, image/jpeg" })
                                            <div class="uploadimg">
                                                <div class="uploadimg-middle">
                                                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                                    <p>Upload</p>
                                                </div>
                                            </div>
                                            @{ var CompanyGalleryImage = Model.GalleryImageName;}
                                            <div class="form-group uploadimg">
                                                <div id="image_preview3" style="width:100%;">
                                                    @if (!string.IsNullOrEmpty(CompanyGalleryImage))
                                                    {
                                                        <div class="img-div3" id="img-div30"><img src="@Url.Content("~/Areas/Employee/Images/CompanyImage/"+CompanyGalleryImage)" class="image3" title="05122023521.jpg"><div class="middle3"><button id="action-icon3" value="img-div30" class="btn btn-danger" role="@CompanyGalleryImage"><i class="fa fa-trash"></i></button></div></div>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                        <div class="field-note">Maximum file size: 800kb.</div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                                </div>

                                <div class="col-md-4">
                                    <div class="spacing">
                                        <div class="detailsright">
                                            <h4><a href="javascript:;">Preview</a></h4>

                                            <div class="info-user">
                                                <div>
                                                    <a href="javascript:;" id="ShowLogo">
                                                        @if (!string.IsNullOrEmpty(Model.CompanyLogoName))
                                                        {
                                                            <img src="/Areas/Employee/Images/CompanyImage/@Model.CompanyLogoName">
                                                        }
                                                        else
                                                        {
                                                            <img src="/Areas/Employee/Images/CompanyImage/DefaultCompanyLogo.png">
                                                        }

                                                    </a>
                                                </div>
                                                <div class="Preview-user">
                                                    <div class="entry-overview">
                                                        <div class="rating-bars rating-bars-wp">
                                                            <div class="rating-bars-item">
                                                                <div class="rating-bars-name">
                                                                    <abbr id="ShowCompanyName">
                                                                        @if (!string.IsNullOrEmpty(Model.CompanyName))
                                                                        {
                                                                            @Model.CompanyName
                                                                        }
                                                                        else
                                                                        {
                                                                            @*@Model.CompanyName= "Company Name";*@
                                                                        }

                                                                    </abbr>
                                                                    <div class="tip" data-tip-content="">
                                                                        <div class="tip-content">
                                                                            <b>Conditions for a green tick:</b>
                                                                            <abbr>Website not been verified</abbr>
                                                                            <abbr>Phone not been verified</abbr>
                                                                            <abbr>Location not been verified</abbr>
                                                                        </div>
                                                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <p id="ShowLocation">
                                                            @*@if (!string.IsNullOrEmpty(Model.State))
                                                            {
                                                                @Model.State
                                                            }
                                                            else
                                                            {
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>Location
                                                             }*@

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    </div>

</div>


