@model IEnumerable<DivyangPortalWeb.Areas.Employee.Models.FinalCompany>
@{
    ViewBag.Title = "Companies";
    Layout = "~/Areas/Employee/Views/Shared/_LayoutEmployee.cshtml";
}
<script src="~/Areas/Employee/Scripts/js/Companieslist.js"></script>
<div class="wrapper">
    <input type="hidden" id="hdcompanyid" />
    <h1>Companies</h1>

    <div class="spacing">

        <div class="container">
            <div class="tables">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="33%">Name</th>
                            <th width="14%">STATUS</th>
                            <th width="22%">Category</th>
                            <th width="13%">Active Jobs</th>
                            <th width="18%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var company in Model)
                        {
                            <tr>
                                <td class="info-user">
                                    <div>
                                        <a href="javascript:;">
                                            <img src="~/Areas/Employee/Images/CompanyImage/@company.CompanyLogo" />
                                        </a>
                                    </div>
                                    <div>
                                        <h3 class="title-jobs-dashboard">
                                            @*@Html.ActionLink("dfd", "Companiesdetails", "Companies", new { Area = "Employee" }, null)*@
                                            @company.CompanyName
                                        </h3>
                                        <p>@company.State</p>
                                    </div>
                                </td>
                                <td><span class="label-opening">@company.CompanySize</span></td>
                                <td>
                                    <p>@company.CompanyCategories</p>
                                </td>

                                <td>
                                    <span class="start-time">10</span>
                                </td>

                                <td style="text-align:right;">
                                    <a class="btn-edit" href="@Url.Action("addnewcompany", "Companies", new { id = company.Id })"> Edit </a>
                                    <a class="Continue" href="javascript:;" id="btndelete" value="@company.Id"> Delete </a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>


            </div>
        </div>

        <div class="add-new-company">@Html.ActionLink("Add new company", "addnewcompany", "Companies", new { Area = "Employee" }, null)</div>

    </div>
    <!--Confirm message strat hear-->
    <div class="lightbgcolor" >
        <div class="middlewrapper">
            <a href="javascript:;" class="btn-close"></a>
            <div class="Complete-message">
                <img src="~/Areas/Employee/Images/delete.png" />
                <h5>Are you sure ?</h5>
                @*<p>You can’t undo this action later.</p>*@
            </div>

            <div class="button-warpper" style="text-align:center;">
                <a href="javascript:;" class="civi-button button-outline" id="btncancel">
                    Cancel
                </a>
                <a href="javascript:;" class="btn-submit-company civi-button"  name="submit_company" id="btnyesdelete">
                    Delete
                </a>
                @*<button type="submit" class="btn-submit-company civi-button" name="submit_company">
                    <span>Delete</span>
                </button>*@
            </div>

        </div>
    </div>
    <!--Confirm end hear-->
</div>

