@model DivyangPortalWeb.Areas.Employee.Models.ChangePassword
@{
    ViewBag.Title = "Setting";
    Layout = "~/Areas/Employee/Views/Shared/_LayoutEmployee.cshtml";
}
<script src="~/Areas/Employee/Scripts/js/jquery.validate.min.js"></script>
<script src="~/Areas/Employee/Scripts/js/jquery.validate.unobtrusive.min.js"></script>
<div class="wrapper">
    <h1>Settings</h1>
    <h3>Personal info</h3>

    <div class="spacing">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="block-from">
                        <h2>Personal info</h2>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="login-form">
                                    <h4>Your photo</h4>
                                    <div class="uploadimgs">
                                        <input type="file" name="images[]" id="images3" multiple class="form-control" required>
                                        <div class="uploadimg">
                                            <div class="uploadimg-middle">
                                                <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                                <p>Upload</p>
                                            </div>
                                        </div>
                                        <div class="form-group uploadimg">
                                            <div id="image_preview3" style="width:100%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="des-avatar">Update your photo manually, if the photo is not set the default Avatar will be the same as your login email account.</div>
                            </div>

                            <div class="col-md-6">
                                <div class="login-form">
                                    <h4>First name</h4>
                                    <input type="text" placeholder="First name">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="login-form">
                                    <h4>Last name</h4>
                                    <input type="text" placeholder="Last name">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="login-form">
                                    <h4>Email address</h4>
                                    <input type="Email" placeholder="amankumar.35113307319@gmail.com">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="login-form">
                                    <h4>Phone Number</h4>
                                    <div class="input-group-sm">
                                        <input id="mobile2" type="tel" name="mobile2" placeholder="+91" class="form-control" autofocus required">
                                    </div>
                                </div>
                            </div>

                            <div class="login-form">
                                <button type="submit" class="gl-button btn button" value="Sign in">Save changes</button>
                            </div>

                        </div>
                    </div>

                    <div class="block-from">
                        <h2>Change password</h2>

                        <div class="row">
                            @if (TempData["ChangeEmployeePassword"] != null)
                            {
                                if (@TempData["ChangeEmployeePassword"].ToString() == "Invalid current password")
                                {
                                    <div class="alert alert-danger" role="alert">
                                        @TempData["ChangeEmployeePassword"]
                                    </div>
                                }
                                else
                                {
                                    <div class="alert alert-success" role="alert">
                                        @TempData["ChangeEmployeePassword"]
                                    </div>
                                }

                            }
                            @using (Html.BeginForm("CheangePassword", "Setting"))
                            {
                                <div class="col-md-12">
                                    <div class="login-form">
                                        <h4>@Html.LabelFor(C => C.CurrentPassword)</h4>
                                        @Html.EditorFor(C => C.CurrentPassword, new { htmlAttributes = new { placeholder = "Enter current password", autocomplete = "off" } })
                                        <span toggle="#CurrentPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                        @Html.ValidationMessageFor(C => C.CurrentPassword)
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="login-form">
                                        <h4>@Html.LabelFor(C => C.NewPassword)</h4>
                                        @Html.EditorFor(C => C.NewPassword, new { htmlAttributes = new { placeholder = "Enter new password", autocomplete = "off" } })
                                        <span toggle="#NewPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                        @Html.ValidationMessageFor(C => C.NewPassword)
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="login-form">
                                        <h4>@Html.LabelFor(C => C.ConfirmPassword)</h4>
                                        @Html.EditorFor(C => C.ConfirmPassword, new { htmlAttributes = new { placeholder = "Enter confirm password", autocomplete = "off" } })
                                        <span toggle="#ConfirmPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                        @Html.ValidationMessageFor(C => C.ConfirmPassword)
                                    </div>
                                </div>

                                <div class="login-form">
                                    <button type="submit" class="gl-button btn button" value="Sign in">Save changes</button>
                                </div>
                            }


                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

</div>


<script>
    var code = "";
    $('#mobile2').val(code);
    $('#mobile2').intlTelInput({
        autoHideDialCode: true,
        autoPlaceholder: "ON",
        dropdownContainer: document.body,
        formatOnDisplay: true,
        initialCountry: "us",
        placeholderNumberType: "MOBILE2",
        preferredCountries: ['us', 'gb', 'in'],
        separateDialCode: true
    });
    $('#btn-submit').on('click', function () {
        var code = $("#mobile2").intlTelInput("getSelectedCountryData").dialCode;
        var phoneNumber = $('#mobile2').val();
        document.getElementById("code").innerHTML = code;
        document.getElementById("mobile-number").innerHTML = phoneNumber;
    });
</script>
