@model DivyangPortalWeb.Areas.Employee.Models.Jobs
@{
    ViewBag.Title = "postjobs";
    Layout = "~/Areas/Employee/Views/Shared/_LayoutEmployee.cshtml";
    <script src="~/ckeditor/samples/js/sample.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>

    <script src="~/Areas/Employee/Scripts/js/jquery.validate.min.js"></script>
    <script src="~/Areas/Employee/Scripts/js/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/Areas/Employee/Content/css/select2.min.css" rel="stylesheet" />
    <link href="~/Areas/Employee/Content/css/select2-bootstrap4.css" rel="stylesheet" />
    <script src="~/Areas/Employee/Scripts/js/ckeditor.js"></script>
    <script src="~/Areas/Employee/Scripts/js/select2.min.js"></script>
    @*<script src="~/Areas/Employee/Scripts/js/jquery.validate.min.js"></script>
        <script src="~/Areas/Employee/Scripts/js/jquery.validate.unobtrusive.min.js"></script>*@


    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style>
        .form-control {
            width: 100%;
            padding: 8px;
        }
    </style>


    <script>
        $(document).ready(function () {
            // Initialize the datepicker with the desired format
            $("#ApplyStartDate").datepicker({
                dateFormat: 'dd-mm-yy'
            });
            $("#applyLastDate").datepicker({
                dateFormat: 'dd-mm-yy'
            });

            // Set the current date as the default value
            $("#ApplyStartDate").datepicker("setDate", new Date());
            $("#applyLastDate").datepicker("setDate", new Date());
              if ('@Model.Description' != null && '@Model.Description' != "") {

                debugger;
                let description = '@Html.Raw(Model.Description ?? "")';
                CKEDITOR.instances['Description'].setData(description);
            }

            ckeditordescription5();
            CKEDITOR.config.toolbar_desc = [['Bold', 'Italic', 'Underline', 'Link']];
        });

        $(function () {
            $('select').each(function () {
                $(this).select2({
                    theme: 'bootstrap4',
                    width: 'style',
                    placeholder: $(this).attr('placeholder'),
                    allowClear: Boolean($(this).data('allow-clear')),
                });
            });
        });
        function checkValidation() {
            debugger;
            let cK_EDITOR_DESCRIPTION = CKEDITOR.instances['Description'].getData();
            document.getElementById('Description').value = cK_EDITOR_DESCRIPTION;
            $('#formId').submit();
        }
        //$(function () {
        //    $("#ApplyStartDate").datepicker({ dateFormat: 'yy-mm-dd', "setDate", new Date() });
        //    $("#applyLastDate").datepicker({ dateFormat: 'yy-mm-dd' });
        //});
        function ckeditordescription5() {
            CKEDITOR.replace('Description', {
                extraPlugins: 'wordcount',
                wordcount: {
                    showParagraphs: true,
                    showWordCount: false,
                    showCharCount: true,
                    countSpacesAsChars: false,
                    countHTML: false,
                    maxWordCount: -1,
                    maxCharCount: 3000
                },
                toolbar: 'desc'
            });
        }
    </script>

}


<div class="wrapper">

    <div class="spacing">
        <div class="container">
            @*//@using (Html.BeginForm("CreateJob", "postjobs", FormMethod.Post, new { enctype = "multipart/form-data" }))*@
            @using (Html.BeginForm("CreateJob", "postjobs", FormMethod.Post, new { enctype = "multipart/form-data", id = "formId" }))
            {
                <div class="row">


                    <div class="col-md-8">
                        <div class="d-flex-div">

                            <div><h1>Create a job post</h1></div>
                            <div class="button-warpper">
                                <a href="javascript:;" class="civi-button button-outline">
                                    Cancel
                                </a>

                                @if (Model.Id != default(int))
                                {
                                    @Html.HiddenFor(model => model.Id)
                                    <button type="submit" class="btn-submit-company civi-button" name="submit_company" onclick="checkValidation();">
                                        <span>Update Job</span>
                                    </button>
                                }
                                else
                                {
                                    <a href="javascript:;" class="civi-button button-outline">
                                        Save as draft
                                    </a>
                                    <button type="submit" class="btn-submit-company civi-button" name="submit_company" onclick="checkValidation();">
                                        <span>Post Job</span>
                                    </button>
                                }


                            </div>
                        </div>

                        <div class="block-from">
                            <h2>Basic info</h2>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="login-form">
                                        <h4>Job title <span>*</span></h4>
                                        @Html.TextBoxFor(U => U.JobTitle, new { @class = "form-control", id = "jobtitle", placeholder = "Name", value = Model.JobTitle })
                                        @Html.ValidationMessageFor(U => U.JobTitle)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>Jobs Categories <span>*</span></h4>
                                        @Html.DropDownList("JobCategories", new SelectList(Model.DropdownValuesResponse.JobCategories, "Id", "Name"), "Select category", new { @class = "form-control" })

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>Job type <span>*</span></h4>
                                        @Html.DropDownList("JobType", new SelectList(Model.DropdownValuesResponse.JobType, "Id", "Name"), "Select Type", new { @class = "form-control" })

                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="login-form">
                                        <h4>Description  <span>*</span></h4>
                                        <div id="editor"></div>
                                        @Html.TextBoxFor(U => U.Description, new { @class = "form-control", id = "Description", placeholder = "Description", value = Model.Description })
                                        @Html.ValidationMessageFor(U => U.Description)
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>Career level</h4>
                                        @Html.DropDownList("CareerLevel", new SelectList(Model.DropdownValuesResponse.CareerLevel, "Id", "Name"), "Select Career Level", new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>Experience</h4>
                                        @Html.DropDownList("Experience", new SelectList(Model.DropdownValuesResponse.Experience, "Id", "Name"), "Select Experience", new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>Qualification</h4>
                                        @Html.DropDownList("Qualification", new SelectList(Model.DropdownValuesResponse.Qualification, "Id", "Name"), "Select Qualification", new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>Gender</h4>

                                        @Html.DropDownList("PrefrenceGender", new SelectList(Model.DropdownValuesResponse.PrefrenceGender, "Id", "Name"), "Select Gender", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>Apply Start Date</h4>
                                        <input type="text" id="ApplyStartDate" name="ApplyStartDate" class="form-control" placeholder="Select Start Date" value="@Model.ApplyStartDate">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>Apply Last Date</h4>
                                        <input type="text" id="applyLastDate" name="ApplyLastDate" class="form-control" placeholder="Select Last Date" value="@Model.ApplyLastDate">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="block-from">
                            <h2>Salary</h2>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>Show pay by</h4>
                                        @Html.DropDownList("SalaryPayBy", new SelectList(Model.DropdownValuesResponse.SalaryPayBy, "Id", "Name"), "Select pay by", new { @class = "form-control" })
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>Range Currency</h4>
                                        @Html.DropDownList("Currency", new SelectList(Model.DropdownValuesResponse.Currency, "Id", "Name"), "Select Currency", new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>Minimum</h4>
                                        @Html.TextBoxFor(U => U.MinSalary, new { @class = "form-control", id = "MinSalary", placeholder = "MinSalary", value = Model.MinSalary })

                                        @*<input type="text" name="MinSalary" placeholder="">*@
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>Maximum</h4>
                                        @Html.TextBoxFor(U => U.MaxSalary, new { @class = "form-control", id = "MaxSalary", placeholder = "MaxSalary", value = Model.MaxSalary })

                                        @*<input type="text" name="MaxSalary" placeholder="">*@
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>Rate</h4>
                                        @Html.DropDownList("SalaryPaidPer", new SelectList(Model.DropdownValuesResponse.SalaryPaidPer, "Id", "Name"), "Select Paid per", new { @class = "form-control" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="block-from">
                            <h2>Job apply type</h2>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>Select type</h4>
                                        <select name="" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                            <option value="56" data-select2-id="56">By email</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="login-form">
                                        <h4>Job apply email</h4>
                                        <input type="email" placeholder="Enter email">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="block-from">
                            <h2>Company</h2>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="login-form">
                                        @*<h4>Select company</h4>*@
                                        @*<select name="CompanyName" data-select2-id="1" tabindex="-1" aria-hidden="true">
                            <option value="" data-select2-id="1">None</option>
                            <option value="56" data-select2-id="56">Com_1234</option>
                        </select>*@
                                        @Html.DropDownList("CompanyName", new SelectList(Model.DropdownValuesResponse.Company, "Id", "Name"), "Select Company", new { @class = "form-control" })


                                        <p class="Create-new-company-btn"><a href="@Url.Action("addnewcompany", "Companies", new { area = "Employee" })" target="_blank">Create new company</a></p>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="block-from">
                            <h2>Location</h2>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="login-form">
                                        <h4>Location</h4>
                                        @Html.DropDownList("Location", new SelectList(Model.DropdownValuesResponse.Locations, "Id", "Name"), "Select location", new { @class = "form-control" })
                                    </div>
                                </div>

                            </div>
                        </div>


                        @*<div class="block-from">
                            <div class="col-md-12">
                                <div class="login-form">
                                    <h4>Cover image</h4>

                                    <div class="uploadimgs">
                                        <input type="file" id="images2" class="form-control" name="CoverImage">
                                        @Html.TextBoxFor(U => U.CoverImagePath, new { type = "file", @class = "form-control", id = "images3", accept = "image/png, image/jpeg" })
                                        <div class="uploadimg">
                                            <div class="uploadimg-middle">
                                                <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                                <p>Click here <span>or drop files to upload</span></p>
                                            </div>
                                        </div>
                                        <div class="form-group uploadimg">
                                            <div id="image_preview2" style="width:100%;">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="field-note">The cover image size should be max 1920 x 200px</div>

                                </div>
                            </div>
                        </div>*@

                        <div class="block-from">
                            <h2>Cover image</h2>

                            <div class="row">
                                <div class="col-md-3 uploadimgs">
                                    @Html.TextBoxFor(U => U.CoverImagePath, new { type = "file", @class = "form-control", id = "images2", accept = "image/png, image/jpeg" })
                                    <div class="uploadimg">
                                        <div class="uploadimg-middle">
                                            <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                            <p>Click here <span>or drop files to upload</span></p>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-9">
                                    <div class="login-form">
                                        <h4>Image</h4>
                                        <div class="form-group">
                                            <div id="image_preview2" style="width:100%;">

                                            </div>
                                        </div>
                                        <img src="@Url.Content("~/Areas/Employee/Images/JobImages/" + Model.CoverImage)" style="width:50%" alt="Job Image">


                                        <div class="field-note">The cover image size should be max 1920 x 200px</div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-from">
                            <h2>Gallery</h2>

                            <div class="row">
                                <div class="col-md-3 uploadimgs">
                                    @Html.TextBoxFor(U => U.GalleryImagePath, new { type = "file", @class = "form-control", id = "images3", accept = "image/png, image/jpeg" })
                                    <div class="uploadimg">
                                        <div class="uploadimg-middle">
                                            <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                            <p>Upload</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-9">
                                    <div class="login-form">
                                        <h4>Image</h4>
                                        <div class="form-group">
                                            <div id="image_preview3" class="d-flex justify-content-between" style="width:100%;">

                                            </div>
                                        </div>
                                        <img src="@Url.Content("~/Areas/Employee/Images/JobImages/" + Model.GalleryImage)" style="width:50%" alt="Job Image">


                                        <div class="field-note">Maximum file size: 800kb.</div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="block-from">
                            <h2>Video</h2>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="login-form">
                                        <h4>Introduction video Url</h4>
                                        @*<input type="file" placeholder="Enter url video" name="IntroductionVideo">*@
                                        @Html.TextBoxFor(U => U.IntroductionVideoPath, new { type = "Text", @class = "form-control", id = "videos", accept = "video/mp4, video/avi, video/mkv, video/webm" })
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="login-form">
                                        <h4>Status</h4>
                                        @Html.DropDownList("IsActives ", new SelectList(Model.DropdownValuesResponse.IsActive, "Id", "Name"), "Select Status", new { @class = "form-control" })
                                    </div>
                                </div>
                                
                            </div>
                           
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="spacing">
                            <p class="detailsright-heading">About this job</p>
                            <div class="about-jobs-dashboard">
                                @if (Model.Id != default(int))
                                {
                                    <img src="/Areas/Employee/Images/Divyang-career.png">
                                    <h5>@Model.JobTitle</h5>
                                    <p>by <b>@Model.CompanyName</b> in <span>@Model.JobCategories</span></p>
                                    <p><abbr>@Model.Location</abbr></p>
                                    <p><abbr> <i class="fa fa-money" aria-hidden="true"></i>@Model.Currency/</abbr></p>
                                }
                                else
                                {

                                    <img src="/Areas/Employee/Images/Divyang-career.png">
                                    <h5>Title of job</h5>
                                    <p>by <b>Company Name</b> in <span>Category</span></p>
                                    <p><abbr>Agartala</abbr></p>
                                    <p><abbr> <i class="fa fa-money" aria-hidden="true"></i> ₹ - ₹ /</abbr></p>

                                }

                            </div>

                        </div>
                    </div>




                </div>
            }
        </div>
    </div>
</div>
